html {
  height: 700px;
  Width: 500px;
}

h1 {
  text-align: center;
}

input,label {
  display: block;
  width: 400px;
}

.error {
  color: #ff0000;
}

.js-results-tab {
  display: none;
}

.content-wrapper {
  display: flex;
  justify-content: center;
}

.nav {
  margin-bottom: 25px;
}