<!DOCTYPE html>
<html>
<head><title>My Test Extension Options</title></head>
<body>

Time Interval
<select id="interval">
  <option value="1">1 Min</option>
  <option value="30">30 Min</option>
  <option value="60">1 Hour</option>
  <option value="90">1 Hour 30 Min</option>
  <option value="120">2 Hours</option>
  <option value="180">3 Hours</option>
  <option value="240">4 Hours</option>
</select>

<div id="status"></div>
<button id="save">Save</button>

<script src="../scripts/options.js"></script>
</body>
</html>