<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="../styles/bootstrap.min.css">
  <link rel="stylesheet" href="../styles/popup.css">
</head>
<body>
<h1 class="title">REMEMBERER</h1>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <label for="datepicker">Set Date
        <input type="date" id="datepicker">
      </label>
      <button class="btn btn-success" id="apply-date">Show Done Tasks</button>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <label>Type what are you doing now
        <input type="text" id="task-description" placeholder="Your work">
      </label>
      <button id="save-task">Done</button>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="previous-tasks">

      </div>
    </div>
  </div>
</div>

<script src="../scripts/popup.js"></script>
</body>
</html>